.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--brown-red);
  text-transform: capitalize;
}

.properties {
  font-size: 1.2rem;
}

.properties > div {
  margin-bottom: 0.7rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list > span {
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--brown-red);
  border-radius: 10px;
  text-transform: capitalize;
  cursor: default;
}

.list > span:hover {
  background: var(--light-red-hover);
}
